@mixin sans-bolded {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
@mixin sans-light {
  font-family: "Oswald", sans-serif;
  font-weight: 100;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  width: 33%;
  height: 100%;
  padding: 15px;
  background-color: blanchedalmond;
}
.container > * {
  flex: 1 0 100%;
}
h1 {
  @include sans-bolded();
  font-size: 2.25em;
  line-height: 97%;
  text-transform: uppercase;
  margin:0
}
.navigation {
  display: grid;
  gap: 15px;
}
a {
  @include sans-light();
  font-size: 1.15em;
  text-decoration: none;
  text-transform: lowercase;
  cursor: default;
  color: inherit;
}
